*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* button:hover +h3{
    background-color: red;
}

main:hover>h1  {
    background-color: saddlebrown;
}
 main > p {
    background-color: darkcyan;
 } */
   /* main:hover  * {
    background-color: darkgreen;
    border: 1px solid black;
   } */
    main:hover > *{
        background-color: darkgoldenrod;
        border: 1px solid black;
    }

.main-1{
    /* position: relative; */
width: 90%;
height: 90vh;
background-color: skyblue;
margin: 50px auto;
border: 10px solid black;
}

.box-1{
/* position: absolute; */
    width: 150px;
    height: 150px;
    background-color: brown;
    /* top: 40px; */
    /* left:  40px; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translateX(50%); */
    /* transform: translateX(-50%); */
    /* transform: translateY(30%);  */
    /* transform: translateY(-35%); */
    /* transform: translateX(70%); */
    /* transform: translateX(-60%); */
    /* transform: translateY(40%); */
    /* transform: translateY(-40%); */
    /* transform: translateX(-50%) translateY(-50%); */
    /* transform: trnslate(-50%,-50%); */
    transform: translate(220%,70%);
}

.main-2{
    position: relative;
width: 90%;
height: 90vh;
background-color: burlywood;
margin: 50px auto;
border: 10px solid black;
}


.box-2{
position: absolute;
    width: 150px;
    height: 150px;
    background-color: darkgreen;
    /* top: 40px; */
    /* left:  40px; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translateX(50%); */
    /* transform: translateX(-50%); */
    /* transform: translateY(30%);  */
    /* transform: translateY(-35%); */
    /* transform: translateX(70%); */
    /* transform: translateX(-60%); */
    /* transform: translateY(40%); */
    /* transform: translateY(-40%); */
    /* transform: translateX(-50%) translateY(-50%); */
    /* transform: trnslate(-50%,-50%); */
    transform: translate(220%,70%);
}

.main-3{
    background-color: orange;
    position: relative;
    width: 90%;
    height: 90vh;
    display: flex;
    margin: 50px auto;
    border: 10px solid black;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    /* align-items: start; */
    

}
.box-3{
    position: absolute;
    background-color: darkblue;
    width: 200px;
    height: 200px;
}