main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

main div button{
  padding: 20px 30px;
  border-radius: 10px;
  background-color: lightgray; 
  margin: 10px;  
}