*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.main{
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.slider{
    background-color: black;
    width: 70vw;
    height: 60vh; 
    margin: 90px 500px; 
}
img{
    
    border-radius: 10px;
    scroll-snap-align: start;
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
    border: 1px solid white;
    border-radius: 2%;
    margin: 90px auto;
}
img:hover{
    width: 220px;
}

